.grayBackground {
    margin: auto;
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin-bottom: 30px;
}
.TextArea {
    width: 80%;
    padding: 10px 20px;
    font-size: 20px;
    margin-top: 40px;
    margin-bottom: 50px;
}

#forLegend {
    font-size: 30px;
    color: rgb(207, 99, 117);
}

#btn {
    font-size: 20px;
    padding: 10px 20px;
    width: 20%;
    cursor: pointer;
    margin-bottom: 40px;
    border-radius: 30px;
    border: 0;
    background-color: rgb(207, 99, 117);
    color: white;
}
.main {
    width: 80%;
    margin:auto;
}

.forLi {
    font-size: 30px;
    color: rgb(207, 99, 117);
}

#logoImg {
    height: 70px;
    width: 70px;
    float: left;
    margin-right: 30px;
}
#takeNotes {
    float: left;
    color:#ce9504;
}
#clear {
    clear: both;
}